ion-slides {
    height: 100%;
  }
  .slide{
    margin-top: 35vh;
   }
   ion-content.slide1{
       --background: white ;
   }
   ion-content.slide2{
       --background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("../images/LDkettle.JPG") no-repeat center ;
   }
   ion-content.slide3{
       --background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("../images/GymRat.JPG") no-repeat center ;
   }
   ion-content.slide4{
       --background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("../images/fooD.jpeg") no-repeat center ;
   }
div.slide1{
       background: white ;
   }
div.slide2{
       background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("../images/LDkettle.JPG") no-repeat center ;
   }
div.slide3{
       background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("../images/GymRat.JPG") no-repeat center ;
   }
div.slide4{
       background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("../images/fooD.jpeg") no-repeat center ;
   }
div.slide5{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("../images/KettlebellPeople.jpg") no-repeat center ;
}
   
   .slide-text{
       color:white;
       font-size: 22px;
       line-height: 22px;
   }

   ion-button.btnsign-in{
    width: 163px;
    --border-radius: 40px;
    font-family:'Domine';
    color: #573926;
    font-weight:bolder
}
ion-button.btnlogin-in{
    font-family:'Domine';
    width: 163px;
    --border-radius: 40px;
    color: #573926;
    font-weight:bolder
}