ion-content.profile-page{
    font-size: 15px;
    padding: 20px;
    text-align: center;
}
.heading{
    font-family: 'Domine';
    font-weight: 900;
    font-size: 35px;
    line-height: 23px;
    color: #573926;
}

ion-text.inapp-text{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FE8235;
}

.img-container{
    width: 150px;
    margin: auto;
}

.img-container {
    width: 150px;
    height: 150px;
    object-fit: fill;
    border-radius: 50%;
    border:  4px solid #FE8235
}

ion-icon{
    color: grey;
}

.app-heading{
    text-align: center;
}
.cursor{
    cursor: pointer;
}